.btn {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  padding: 0.7em 1.1em;
  border: none;
  border-radius: 10px;
  background-color: var(--accent);
  color: var(--text-dark-mode);
  cursor: pointer;
}
